  body {
    text-align: center;
    font-family: sans-serif;
    background-color: wheat;
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}





main {
    display:flex;
    border:1px solid black;
    
    height: 200px;
    text-align: center;
    background-color: white;

}

.rod {
    width: 10px;
    display:flex;
    flex-direction:column-reverse;
    border:1px solid black;
    align-items:center;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 200px;
    margin-left: 200px;

    
}

.disk {
    height:20px;
    border-radius: 10px;
}

#win {
    margin-top: 30px;
}
#results{
    border: 1px solid black;
    height: 400px;
    width: 18%;
}

#disk1 {
    background-color: orchid;
}
#disk2 {
    background-color: olive;
}
#disk3 {
    background-color: sienna;
}
#disk4 {
    background-color: aquamarine;
}

.selectedDisk {
    border: 1px solid black;
}